/* hero section styles */
.hero__wrapper{
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	gap: 5rem;
}
.hero__left__wrapper{
	max-width: 360px;
}
.hero__imgWrapper{
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}
.hero__heading{
	font-family: poppins;
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}
.hero__info{
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}
.button__wrapper{
	text-align: center;
}
@media  only screen and (min-width: 768px){
	.hero__wrapper{
		flex-direction: row;
		gap: 0;
	}
	.hero__left{
		flex: 3;
	}
	.hero__right{
		flex: 4;
	}
	.hero__heading{
		font-size: 1.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}
	.hero__info{
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}
	.button__wrapper{
		text-align: left;
	}
	.hero__imgWrapper{
		max-width: none;
		width: 90%;
	}

}

/* Our Specials section styles */
#OurSpecials{
	padding-top: 10rem;
}
.OurSpecials__wrapper{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.OurSpecials__left{
	display: flex;
	gap: 1rem;
}
.OurSpecials__item{
	background-color: var(--lightgreen-1);
	padding: 1.2rem;
	padding-top: 5rem;
	border-radius: 12px;
	/* width: 45% */
	margin: 0 auto;
}
.OurSpecials__item__img{
	margin-top: calc(-50% - 2rem);
	margin-bottom: 2rem;
	border-radius: 12px;
	height: 150px;
	overflow: hidden; 
}
.OurSpecials__item__img img{
	object-fit: cover;
}
.OurSpecials__item__title{
	font-size: 1.4rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.OurSpecials__item__price{
	color: var(--green-1);
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.OurSpecials__item__stars{
	height: 1.5rem;
	width: max-content;
	margin-bottom: 1rem;
}
.OurSpecials__item__text{
	font-size: 1.4rem;
	color: var(--black-2);
	font-weight: 500;
}
.OurSpecials__title{
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 1.5rem;
}
.OurSpecials__text{ 
	font-size: 1.4rem;
	color: var(--black-2);
	margin-bottom: 1rem;
}

@media  only screen and (min-width: 768px){
	#OurSpecials{
		padding-top: 15rem;
	}
	#OurSpecials .container{
		max-width: 900px;
	}
	.OurSpecials__wrapper{
		flex-direction: row;
	}
	.OurSpecials__right{
		flex: 2;
	}
	.OurSpecials__left{
		flex: 4;
		gap: 2rem;
	}
	.OurSpecials__item{
		padding: 2rem;
		width: 45%;
	}
	.OurSpecials__item__title{
		font-size: 2.4rem;
		line-height: 1.4em;
		margin-bottom: 1.5rem;
	}
	.OurSpecials__item__price{
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.OurSpecials__item__stars{
		margin-bottom: 2rem;
	}
	.OurSpecials__item__text{
		font-size: 1.6rem;
	}
	.OurSpecials__title{
		font-size: 3.6rem;
		margin-bottom: 1.5rem;
	}
	.OurSpecials__text{
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
}
@media only screen and (max-width: 300px){
	.OurSpecials__left{
		flex-wrap: wrap;
		gap: 10rem;
	}
	.OurSpecials__item{
		width: 100%;
	}
}
/* Discount style */
.discount__wrapper{
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 12px;
	background: var(--lightgreen-1) url(./images/discount-illustration.png)
	no-repeat bottom right / 100px;
}
.discount__images{
	display: flex;
	gap: 1rem;
	width: 100%;
	margin-bottom: 2rem; 
}
.discount__img1{
	flex: 2;
}
.discount__img2{
	flex: 3;
}
.discount__images img{
	object-fit: cover;
	border-radius: 12px;
}
.discount__text{
	font-size: 1.4rem;
	font-weight: 900;
	color: var(--green-1);
	margin-bottom: 0.5rem;
}
.discount__title{
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.discount__price{
	font-size: 1.4rem;
	font-weight: 600;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.discount__oldPrice{
	color: var(--black-2);
	text-decoration: line-through;
}
.discount__newPrice{
	color: var(--green-1);
}
.discount__stars{
	width: max-content;
	height: 15px;
	margin-bottom: 1rem;
}
@media only screen and (max-width: 1000px){
	.discount__wrapper{
		gap: 2rem;
	}
	.discount__img3{
		display: none;
	}

}
